@page "/counter"
@implements IDisposable

@inject CounterStore counterStore
@inject IActionDispatcher actionDispatcher

<h1>Counter</h1>

<p>Current count: @counterStore.GetState().Count</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code { 

    protected override void OnInitialized()
    {
        base.OnInitialized();

        counterStore.AddStateChangeListeners(UpdateView);
    }

    private void IncrementCount()
    {
        actionDispatcher.Dispatch(new IncrementAction());
    }

    private void UpdateView()
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        counterStore.RemoveStateChangeListeners(UpdateView);
    }
}
